.reversed-link span::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.reversed-link:hover span::before {
    transform-origin: left;
    transform: scaleX(1);
}
.reversed-link:hover div {
    background-color: black;
    color: white;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;

}

.figure {
    position: relative;
    width: 360px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
  }
  .figure img.Sirv.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .figure:hover img.Sirv.image-hover {
    opacity: 1;
  }